<section class="content">
  <form class="form">
    <h1>Get a Quote</h1>
    <p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <hr />
    <div class="form__group">
      <label class="form__group__label">
        <span class="step-no">1</span>
        Occupation:
      </label>
      <div class="form__control">
        <div class="btn-group">
          <a class="btn clearfix" href="javascript:void(0);">
            <span class="btn__title">
              <i class="ss-pencilbrush"></i>
              Designer
            </span>
            <span class="btn__msg ss-delete">Awesome choice dude!</span></a>
          <a class="btn clearfix" href="javascript:void(0);">
            <span class="btn__title">
              <i class="ss-tools"></i>
              Developer
            </span>
            <span class="btn__msg ss-delete">Building shit is cool!</span></a>
          <a class="btn clearfix" href="javascript:void(0);">
            <span class="btn__title">
              <i class="ss-binoculars"></i>
              Consultant
            </span>
            <span class="btn__msg ss-delete">You go, big boy!</span></a>
          <a class="btn clearfix" href="javascript:void(0);">
            <span class="btn__title">
              <i class="ss-database"></i>
              Other
            </span>
            <span class="btn__msg ss-delete">Dropdown here</span></a>
        </div>
      </div>
    </div>
    <div class="form__group">
      <label class="form__group__label">
        <span class="step-no">2</span>
        Experience:
      </label>
      <div class="form__control">
        <div class="btn-group">
          <a class="btn clearfix" href="javascript:void(0);">
            <span class="btn__title">
              <i class="ss-home"></i>
              1 year or less
            </span>
            <span class="btn__msg ss-delete">You're just getting started and thats great!</span></a>
          <a class="btn clearfix" href="javascript:void(0);">
            <span class="btn__title">
              <i class="ss-school"></i>
              1-3 years
            </span>
            <span class="btn__msg ss-delete">Looks like everything is going well!</span></a>
          <a class="btn clearfix" href="javascript:void(0);">
            <span class="btn__title">
              <i class="ss-warehouse"></i>
              3-5 years
            </span>
            <span class="btn__msg ss-delete">I see you've experience at this</span></a>
          <a class="btn clearfix" href="javascript:void(0);">
            <span class="btn__title">
              <i class="ss-castle"></i>
              5 years +
            </span>
            <span class="btn__msg ss-delete">Woah, long time, awesome!</span></a>
        </div>
      </div>
    </div>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        <span class="step-no">3</span>
        Business Type:
      </label>
      <div class="form__control">
        <a class="btn btn--large" href="javascript:void(0);">
          <span class="btn__title">
            <i class="ss-school"></i>
            1-3 years
          </span></a>
        <a class="btn btn--large" href="javascript:void(0);">
          <span class="btn__title">
            <i class="ss-school"></i>
            1-3 years
          </span></a>
        <a class="btn btn--large" href="javascript:void(0);">
          <span class="btn__title">
            <i class="ss-school"></i>
            1-3 years
          </span></a>
      </div>
    </div>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        <span class="step-no">4</span>
        Sum Insured For:
      </label>
      <div class="form__control">
        <div class="input-price">£</div>
        <input placeholder="How much insurance are you looking for?" /></div>
    </div>
  </form>
  <div class="content__footer clearfix">
    <a class="btn" href="javascript:void(0);">
      View my quote
      <i class="ss-navigateright"></i></a>
  </div>
</section>
