<section class="content progress">
  <ul class="clearfix">
    <li class="complete"><a href="/step-1">1</a></li>
    <li class="complete"><a href="/step-2">2</a></li>
    <li class="complete"><a href="/step-3">3</a></li>
    <li class="complete"><a href="/step-4">4</a></li>
    <li class="active"><span>5</span></li>
  </ul>
</section>
<section class="content">
  <form class="form">
    <h3>Agreements</h3>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Have any claims etc?
      </label>
      <div class="form__control">
        <input type="radio" name="has_claims" value="yes" id="has_claims_yes" />
        <label for="has_claims_yes">Yes</label>
        <input type="radio" name="has_claims" value="no" id="has_claims_no" />
        <label for="has_claims_no">No</label>
      </div>
    </div>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Have any claims etc?
      </label>
      <div class="form__control">
        <input type="radio" name="has_claims" value="yes" id="has_claims_yes" />
        <label for="has_claims_yes">Yes</label>
        <input type="radio" name="has_claims" value="no" id="has_claims_no" />
        <label for="has_claims_no">No</label>
      </div>
    </div>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Have any claims etc?
      </label>
      <div class="form__control">
        <input type="radio" name="has_claims" value="yes" id="has_claims_yes" />
        <label for="has_claims_yes">Yes</label>
        <input type="radio" name="has_claims" value="no" id="has_claims_no" />
        <label for="has_claims_no">No</label>
      </div>
    </div>
  </form>

  <div class="content__footer clearfix">
    <button {{action 'save'}}>
      Finish
      <i class="ss-navigateright"></i>
    </button>
  </div>
</section>
