<section class="content">
  <ul>
    <li>Step 1</li>
    <li>Step 2</li>
    <li class="active">Step 3</li>
    <li>Step 4</li>
    <li>Step 5</li>
  </ul>
</section>
<section class="content">
  <form class="form">
    <h3>step3: Tell us about yourself</h3>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Name:
      </label>
      <div class="form__control">
        <input />
      </div>
    </div>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Email:
      </label>
      <div class="form__control">
        <input />
      </div>
    </div>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Phone number:
      </label>
      <div class="form__control">
        <input />
      </div>
    </div>
  </form>

  <div class="content__footer clearfix">
    {{#link-to 'step-4' class='btn'}}
    Next
    <i class="ss-navigateright"></i>
    {{/link-to}}
  </div>
</section>
