<section class="content">
  <ul>
    <li>Step 1</li>
    <li>Step 2</li>
    <li>Step 3</li>
    <li>Step 4</li>
    <li class="active">Step 5</li>
  </ul>
</section>
<section class="content">
  <form class="form">
    <h3>step5: Agreements</h3>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Have any claims etc?
      </label>
      <div class="form__control">
        <input type="radio" name="has_claims" value="yes" id="has_claims_yes" />
        <label for="has_claims_yes">Yes</label>
        <input type="radio" name="has_claims" value="no" id="has_claims_no" />
        <label for="has_claims_no">No</label>
      </div>
    </div>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Have any claims etc?
      </label>
      <div class="form__control">
        <input type="radio" name="has_claims" value="yes" id="has_claims_yes" />
        <label for="has_claims_yes">Yes</label>
        <input type="radio" name="has_claims" value="no" id="has_claims_no" />
        <label for="has_claims_no">No</label>
      </div>
    </div>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Have any claims etc?
      </label>
      <div class="form__control">
        <input type="radio" name="has_claims" value="yes" id="has_claims_yes" />
        <label for="has_claims_yes">Yes</label>
        <input type="radio" name="has_claims" value="no" id="has_claims_no" />
        <label for="has_claims_no">No</label>
      </div>
    </div>
  </form>

  <div class="content__footer clearfix">
    <a href="#" class="btn">
      Finish
      <i class="ss-navigateright"></i>
    </a>
  </div>
</section>
