<section class="content progress">
  <ul class="clearfix">
    <li class="complete">{{#link-to 'step-1'}}1{{/link-to}}</li>
    <li class="complete">{{#link-to 'step-2'}}2{{/link-to}}</li>
    <li class="complete">{{#link-to 'step-3'}}3{{/link-to}}</li>
    <li class="complete">{{#link-to 'step-4'}}4{{/link-to}}</li>
    <li class="complete">{{#link-to 'step-5'}}5{{/link-to}}</li>
    <li class="complete">{{#link-to 'step-6'}}6{{/link-to}}</li>
    <li><span>7</span></li>
  </ul>
</section>
<section class="content">
  <form class="form">
    <h3>Business questions</h3>
  </form>

  <div class="content__footer clearfix">
    <button {{bind-attr class=":btn isStep7Valid::btn--inactive"}} {{action 'save'}}>
      Finish
      <i class="ss-navigateright"></i>
    </button>
  </div>
</section>
